* {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2934;
    color: #f9faf8;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 150px;  
}

.link-one {
    margin-left: auto;
}

.logo {
    font-weight: 900;
}

.second-line {
    background-color: #1f2934;
    color: #f9faf8;
    display: flex;
    padding: 100px 150px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    max-width: 300px;
}

.small-header {
    font-size: 48px;
    font-weight: 900;
}

.paragraph {
    font-size: 14px;
    filter: contrast(50%);
}

.signup {
    background-color: #3882f6;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 900s;
}

.right {
    background-color: #868b96;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-shrink: 0;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 800px;
}

.image {
    width: 120px;
    height: 120px;
    border: 5px solid #3882f6;
    border-radius: 15%;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px
}

.subtext {
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 200px;
    background-color: #e5e7eb;
    font-style: light italic;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quote-from {
    align-self: flex-end;
    font-weight: 900;
}

.last-line {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #3882f6;
    margin: 100px 200px;
    color: #f9faf8;
    border-radius: 5px;
}

.last-header {
    font-weight: 900;
}

.last-text {
    filter: contrast(70%);
}

.last-button {
    flex-shrink: 0;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}