* {
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2934;
    color: #f9faf8;
    justify-content: space-around;
    gap: 20px;
    padding: 40px 90px;
    
}

.link-one {
    margin-left: auto;
}

.logo {
    font-weight: 900;
}